
#calculator {
  border: 1px solid rgb(187, 183, 183);
  border-radius: 5px;
  width: 200px;
  margin-top: 20px;
  margin-left: 550px;
}

#display {
  margin: 10px;
  width: 85%;
  font-size: 25px;
}

.button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button {
  width: 45px;
  height: 45px;
  margin: 3px;
}

h1{
    background-color: pink;
    text-align: center;
}

